@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  background: #020617;
  color: #cbd5e1;
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  background-image: radial-gradient(#0f172a 1px, transparent 0),
    radial-gradient(#662cd18a 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cart {
  width: 500px;
  height: auto;
  padding: 40px 60px;
  background-color: #212936;
  border: 1px solid #a1a1a9;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
p {
  color: #cbd5e1bf;
  font-size: small;
}
input {
  width: 370px;
  margin: 5px 0px;
  padding: 15px;
  border-radius: 10px;
  background-color: #212936;
  border: 3px solid #a1a1a97c;
  font-weight: 500;
  color: white;
}
.input-div {
  margin: 30px 0px;
}
button {
  background-color: #845eee;
  color: white;
  padding: 13px 17px;
  border-radius: 100px;
  width: 130px;
  border: none;
  cursor: pointer;
}
.button-div {
  text-align: center;
}
.input-container {
  margin: 50px 0px;
}
.steps {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-85%, -50%);
}
.num-step {
  display: inline-block;
  padding: 0px 25px;
  color: #a1a1a979;
}
.step {
  background-color: #a1a1a979;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 5px;
  display: inline-block;
}
.one {
  background-color: #845eee;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 5px;
  display: inline-block;
  box-shadow: 0px 0px 0px 5px #662cd17e;
}
.container label span {
  display: block;
  width: 370px;
  margin: 20px 0px;
  padding: 15px;
  border-radius: 10px;
  background-color: #4d5562;
  border: 3px solid #a1a1a97c;
  cursor: pointer;
}

.container label input[type="checkbox"] {
  display: none;

}
.container label span {
  position: relative;
  
  
}
.container  input[type="checkbox"]:checked + span {
  background-color: #845eee;
  color: white;
}
